<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <runtime>
    <enforceFIPSPolicy enabled="false"/>
  </runtime>
  <applicationSettings>
    <Launcher.Properties.Settings>
      <setting name="SettingsFile" serializeAs="String">
        <value>user_settings.config</value>
      </setting>
      <setting name="DefaultQuality" serializeAs="String">
        <value>Medium</value>
      </setting>
      <setting name="DefaultResolutions" serializeAs="String">
        <value>1280x768;1024x768;800x600</value>
      </setting>
      <setting name="ExeArgs" serializeAs="String">
        <value>--bundle-dir ../bundle --ini settings</value>
      </setting>
      <setting name="LauncherVersion" serializeAs="String">
        <value>1.0.0</value>
      </setting>
      <setting name="ExeDirs" serializeAs="String">
        <value>binaries dev</value>
      </setting>
      <setting name="ExeName" serializeAs="String">
        <value>Darktide.exe stingray_win64_dev_x64.exe</value>
      </setting>
      <setting name="AppId" serializeAs="String">
        <value>1361210</value>
      </setting>
      <setting name="Project" serializeAs="String">
        <value>Darktide</value>
      </setting>
      <setting name="ReleasePlatform" serializeAs="String">
        <value>steam</value>
      </setting>
      <setting name="Backend" serializeAs="String">
        <value>dev</value>
      </setting>
      <setting name="Release" serializeAs="String">
        <value/>
      </setting>
      <setting name="ConnectionTimeoutSeconds" serializeAs="String">
        <value>10</value>
      </setting>
    </Launcher.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>
  <userSettings>
    <Launcher.Properties.Settings>
      <setting name="MarketingURL" serializeAs="String">
        <value>https://www.2f8a830db8-2d0e-4a55-aced-ef6d0279b1442f.org/</value>
      </setting>
    </Launcher.Properties.Settings>
  </userSettings>
</configuration>
