mods_settings = {
	enemies_improved = {
		aim_cone_angle = 8
		always_show_in_meatgrinder = false
		bleed_toggle_state = true
		boss_debuff_icon_size = 1
		boss_debuff_stack_font_size = 14
		damage_number_crit_colour_B = 13
		damage_number_crit_colour_G = 158
		damage_number_crit_colour_R = 247
		damage_number_duration = 2
		damage_number_flashy_speed = 0.5
		damage_number_scale = 1.2
		damage_number_weakspot_colour_B = 107
		damage_number_weakspot_colour_G = 245
		damage_number_weakspot_colour_R = 255
		damage_number_y_offset = 1.2
		debuff_boss_healthbar_enable = true
		debuff_dot_enable = true
		debuff_enable = true
		debuff_gap_icon_stack_offset = 0.9
		debuff_gap_name_icon_offset = 0
		debuff_gap_padding_scale = 1
		debuff_group_colour_B = 0
		debuff_group_colour_G = 10
		debuff_group_colour_R = 50
		debuff_group_selected = "generic"
		debuff_horde_enable = false
		debuff_horizontal = true
		debuff_icon_scale = 1
		debuff_icons = true
		debuff_individual_enable = true
		debuff_individual_show_on_body_override = false
		debuff_keyword_enable = true
		debuff_max_stacks_colour_B = 0
		debuff_max_stacks_colour_G = 200
		debuff_max_stacks_colour_R = 255
		debuff_max_stacks_colour_toggle = true
		debuff_max_stacks_scale = true
		debuff_names = true
		debuff_names_fade = false
		debuff_names_font_size = 16
		debuff_selected_enable = true
		debuff_show_on_body = false
		debuff_stack_on_icon = false
		debuff_stacks_font_size = 16
		debuff_stacks_icon_colour = false
		debuff_stacks_show_x = true
		debuff_stacks_show_x_space = true
		debuff_stagger_enable = true
		debuff_toggles = "bleed"
		debuff_type_enable = true
		debuff_type_show_on_body_override = false
		debuff_utility_enable = true
		debuff_x_offset = 0.45
		debuff_y_offset = 1
		debuffs_abrv = true
		debuffs_combine = true
		distance_individual_enable = false
		distance_individual_value = 30
		draw_distance = 50
		enable_depth_fading = true
		enemy_group = "shield"
		font_type = "mono_tide_bold"
		general_throttle_rate = 20
		global_opacity = 1
		hb_damage_number_types = "floating"
		hb_damage_numbers_add_total = false
		hb_damage_numbers_track_friendly = true
		hb_damage_show_only_latest = false
		hb_damage_show_only_latest_value = 3
		hb_enable_bar = true
		hb_enable_text = false
		hb_endcaps_enabled = false
		hb_frame = "content/ui/materials/frames/masteries/panel_main_lower_frame"
		hb_gap_padding_scale = 1
		hb_ghostbar_opacity = 0.7
		hb_hide_after_no_damage = false
		hb_horde_clusters_enable = false
		hb_horde_clusters_size = 10
		hb_horde_enable = false
		hb_horde_hide_after_no_damage = false
		hb_padding_scale = 1
		hb_show_damage_numbers = false
		hb_show_dps = false
		hb_show_when_debuffed = false
		hb_size_height = 4
		hb_size_width = 100
		hb_text_bottom_left_01 = "nothing"
		hb_text_bottom_left_02 = "nothing"
		hb_text_show_damage = false
		hb_text_show_max_health = true
		hb_text_top_left_01 = "nothing"
		hb_toggle_base_boss_healthbar = true
		hb_toggle_ghostbar = false
		hb_toggle_ghostbar_colour = false
		hb_y_offset = 0
		healthbar_captain_colour_B = 0
		healthbar_captain_colour_G = 140
		healthbar_captain_colour_R = 255
		healthbar_chaos_armored_hound_colour_B = 0
		healthbar_chaos_armored_hound_colour_G = 255
		healthbar_chaos_armored_hound_colour_R = 255
		healthbar_chaos_armored_infected_colour_B = 60
		healthbar_chaos_armored_infected_colour_G = 60
		healthbar_chaos_armored_infected_colour_R = 150
		healthbar_chaos_beast_of_nurgle_colour_B = 255
		healthbar_chaos_beast_of_nurgle_colour_G = 0
		healthbar_chaos_beast_of_nurgle_colour_R = 180
		healthbar_chaos_daemonhost_colour_B = 180
		healthbar_chaos_daemonhost_colour_G = 0
		healthbar_chaos_daemonhost_colour_R = 255
		healthbar_chaos_hound_colour_B = 0
		healthbar_chaos_hound_colour_G = 255
		healthbar_chaos_hound_colour_R = 255
		healthbar_chaos_hound_mutator_colour_B = 0
		healthbar_chaos_hound_mutator_colour_G = 255
		healthbar_chaos_hound_mutator_colour_R = 255
		healthbar_chaos_lesser_mutated_poxwalker_colour_B = 60
		healthbar_chaos_lesser_mutated_poxwalker_colour_G = 60
		healthbar_chaos_lesser_mutated_poxwalker_colour_R = 150
		healthbar_chaos_mutated_poxwalker_colour_B = 60
		healthbar_chaos_mutated_poxwalker_colour_G = 60
		healthbar_chaos_mutated_poxwalker_colour_R = 150
		healthbar_chaos_mutator_daemonhost_colour_B = 180
		healthbar_chaos_mutator_daemonhost_colour_G = 0
		healthbar_chaos_mutator_daemonhost_colour_R = 255
		healthbar_chaos_mutator_ritualist_colour_B = 200
		healthbar_chaos_mutator_ritualist_colour_G = 200
		healthbar_chaos_mutator_ritualist_colour_R = 200
		healthbar_chaos_newly_infected_colour_B = 60
		healthbar_chaos_newly_infected_colour_G = 60
		healthbar_chaos_newly_infected_colour_R = 150
		healthbar_chaos_ogryn_bulwark_colour_B = 255
		healthbar_chaos_ogryn_bulwark_colour_G = 120
		healthbar_chaos_ogryn_bulwark_colour_R = 0
		healthbar_chaos_ogryn_executor_colour_B = 255
		healthbar_chaos_ogryn_executor_colour_G = 120
		healthbar_chaos_ogryn_executor_colour_R = 0
		healthbar_chaos_ogryn_gunner_colour_B = 120
		healthbar_chaos_ogryn_gunner_colour_G = 255
		healthbar_chaos_ogryn_gunner_colour_R = 0
		healthbar_chaos_ogryn_houndmaster_colour_B = 255
		healthbar_chaos_ogryn_houndmaster_colour_G = 0
		healthbar_chaos_ogryn_houndmaster_colour_R = 180
		healthbar_chaos_plague_ogryn_colour_B = 255
		healthbar_chaos_plague_ogryn_colour_G = 0
		healthbar_chaos_plague_ogryn_colour_R = 180
		healthbar_chaos_poxwalker_bomber_colour_B = 255
		healthbar_chaos_poxwalker_bomber_colour_G = 0
		healthbar_chaos_poxwalker_bomber_colour_R = 255
		healthbar_chaos_poxwalker_colour_B = 60
		healthbar_chaos_poxwalker_colour_G = 60
		healthbar_chaos_poxwalker_colour_R = 150
		healthbar_chaos_spawn_colour_B = 255
		healthbar_chaos_spawn_colour_G = 0
		healthbar_chaos_spawn_colour_R = 180
		healthbar_colour_preset = "colourful"
		healthbar_cultist_assault_colour_B = 60
		healthbar_cultist_assault_colour_G = 60
		healthbar_cultist_assault_colour_R = 150
		healthbar_cultist_berzerker_colour_B = 255
		healthbar_cultist_berzerker_colour_G = 120
		healthbar_cultist_berzerker_colour_R = 0
		healthbar_cultist_captain_colour_B = 0
		healthbar_cultist_captain_colour_G = 140
		healthbar_cultist_captain_colour_R = 255
		healthbar_cultist_flamer_colour_B = 255
		healthbar_cultist_flamer_colour_G = 0
		healthbar_cultist_flamer_colour_R = 255
		healthbar_cultist_grenadier_colour_B = 255
		healthbar_cultist_grenadier_colour_G = 0
		healthbar_cultist_grenadier_colour_R = 255
		healthbar_cultist_gunner_colour_B = 120
		healthbar_cultist_gunner_colour_G = 255
		healthbar_cultist_gunner_colour_R = 0
		healthbar_cultist_melee_colour_B = 60
		healthbar_cultist_melee_colour_G = 60
		healthbar_cultist_melee_colour_R = 150
		healthbar_cultist_mutant_colour_B = 0
		healthbar_cultist_mutant_colour_G = 255
		healthbar_cultist_mutant_colour_R = 255
		healthbar_cultist_mutant_mutator_colour_B = 0
		healthbar_cultist_mutant_mutator_colour_G = 255
		healthbar_cultist_mutant_mutator_colour_R = 255
		healthbar_cultist_ritualist_colour_B = 200
		healthbar_cultist_ritualist_colour_G = 200
		healthbar_cultist_ritualist_colour_R = 200
		healthbar_cultist_shocktrooper_colour_B = 120
		healthbar_cultist_shocktrooper_colour_G = 255
		healthbar_cultist_shocktrooper_colour_R = 0
		healthbar_cultist_vanguard_colour_B = 255
		healthbar_cultist_vanguard_colour_G = 120
		healthbar_cultist_vanguard_colour_R = 0
		healthbar_cultist_vanguard_enable = true
		healthbar_disabler_colour_B = 0
		healthbar_disabler_colour_G = 255
		healthbar_disabler_colour_R = 255
		healthbar_elite_colour_B = 255
		healthbar_elite_colour_G = 120
		healthbar_elite_colour_R = 0
		healthbar_enable = true
		healthbar_enemy_colour_B = 200
		healthbar_enemy_colour_G = 200
		healthbar_enemy_colour_R = 200
		healthbar_far_colour_B = 120
		healthbar_far_colour_G = 255
		healthbar_far_colour_R = 0
		healthbar_horde_colour_B = 60
		healthbar_horde_colour_G = 60
		healthbar_horde_colour_R = 150
		healthbar_icon_captain_colour_B = 0
		healthbar_icon_captain_colour_G = 140
		healthbar_icon_captain_colour_R = 255
		healthbar_icon_captain_enable = true
		healthbar_icon_captain_glow_intensity = 100
		healthbar_icon_captain_scale = 1
		healthbar_icon_disabler_colour_B = 0
		healthbar_icon_disabler_colour_G = 255
		healthbar_icon_disabler_colour_R = 255
		healthbar_icon_disabler_enable = true
		healthbar_icon_disabler_glow_intensity = 0
		healthbar_icon_disabler_scale = 1
		healthbar_icon_elite_colour_B = 255
		healthbar_icon_elite_colour_G = 120
		healthbar_icon_elite_colour_R = 0
		healthbar_icon_elite_enable = true
		healthbar_icon_elite_glow_intensity = 50
		healthbar_icon_elite_scale = 1
		healthbar_icon_enemy_colour_B = 200
		healthbar_icon_enemy_colour_G = 200
		healthbar_icon_enemy_colour_R = 200
		healthbar_icon_enemy_enable = false
		healthbar_icon_enemy_glow_intensity = 0
		healthbar_icon_enemy_scale = 1
		healthbar_icon_far_colour_B = 120
		healthbar_icon_far_colour_G = 255
		healthbar_icon_far_colour_R = 0
		healthbar_icon_far_enable = true
		healthbar_icon_far_glow_intensity = 0
		healthbar_icon_far_scale = 1
		healthbar_icon_glow_colour_B = 80
		healthbar_icon_glow_colour_G = 170
		healthbar_icon_glow_colour_R = 200
		healthbar_icon_glow_default_colour_B = 80
		healthbar_icon_glow_default_colour_G = 170
		healthbar_icon_glow_default_colour_R = 200
		healthbar_icon_horde_colour_B = 60
		healthbar_icon_horde_colour_G = 60
		healthbar_icon_horde_colour_R = 150
		healthbar_icon_horde_enable = false
		healthbar_icon_horde_glow_intensity = 0
		healthbar_icon_horde_scale = 1
		healthbar_icon_monster_colour_B = 255
		healthbar_icon_monster_colour_G = 0
		healthbar_icon_monster_colour_R = 180
		healthbar_icon_monster_enable = true
		healthbar_icon_monster_glow_intensity = 100
		healthbar_icon_monster_scale = 1
		healthbar_icon_select_glow_intensity = 0
		healthbar_icon_shield_colour_B = 255
		healthbar_icon_shield_colour_G = 150
		healthbar_icon_shield_colour_R = 50
		healthbar_icon_shield_enable = true
		healthbar_icon_shield_glow_intensity = 0
		healthbar_icon_shield_scale = 1
		healthbar_icon_sniper_colour_B = 0
		healthbar_icon_sniper_colour_G = 0
		healthbar_icon_sniper_colour_R = 255
		healthbar_icon_sniper_enable = true
		healthbar_icon_sniper_glow_intensity = 0
		healthbar_icon_sniper_scale = 1
		healthbar_icon_special_colour_B = 255
		healthbar_icon_special_colour_G = 0
		healthbar_icon_special_colour_R = 255
		healthbar_icon_special_enable = true
		healthbar_icon_special_glow_intensity = 0
		healthbar_icon_special_scale = 1
		healthbar_icon_type_colour_B = 255
		healthbar_icon_type_colour_G = 150
		healthbar_icon_type_colour_R = 50
		healthbar_icon_type_enable = true
		healthbar_icon_type_glow_intensity = 0
		healthbar_icon_type_scale = 1
		healthbar_icon_witch_colour_B = 180
		healthbar_icon_witch_colour_G = 0
		healthbar_icon_witch_colour_R = 255
		healthbar_icon_witch_enable = true
		healthbar_icon_witch_glow_intensity = 100
		healthbar_icon_witch_scale = 1
		healthbar_individual_always_show = false
		healthbar_individual_colour_B = 255
		healthbar_individual_colour_G = 120
		healthbar_individual_colour_R = 0
		healthbar_individual_enable = true
		healthbar_individual_force = false
		healthbar_individual_y_offset = 0
		healthbar_individual_y_offset_enabled = false
		healthbar_monster_colour_B = 255
		healthbar_monster_colour_G = 0
		healthbar_monster_colour_R = 180
		healthbar_only_in_meatgrinder = false
		healthbar_renegade_assault_colour_B = 60
		healthbar_renegade_assault_colour_G = 60
		healthbar_renegade_assault_colour_R = 150
		healthbar_renegade_berzerker_colour_B = 255
		healthbar_renegade_berzerker_colour_G = 120
		healthbar_renegade_berzerker_colour_R = 0
		healthbar_renegade_captain_colour_B = 0
		healthbar_renegade_captain_colour_G = 140
		healthbar_renegade_captain_colour_R = 255
		healthbar_renegade_executor_colour_B = 255
		healthbar_renegade_executor_colour_G = 120
		healthbar_renegade_executor_colour_R = 0
		healthbar_renegade_flamer_colour_B = 255
		healthbar_renegade_flamer_colour_G = 0
		healthbar_renegade_flamer_colour_R = 255
		healthbar_renegade_flamer_mutator_colour_B = 255
		healthbar_renegade_flamer_mutator_colour_G = 0
		healthbar_renegade_flamer_mutator_colour_R = 255
		healthbar_renegade_grenadier_colour_B = 255
		healthbar_renegade_grenadier_colour_G = 0
		healthbar_renegade_grenadier_colour_R = 255
		healthbar_renegade_gunner_colour_B = 120
		healthbar_renegade_gunner_colour_G = 255
		healthbar_renegade_gunner_colour_R = 0
		healthbar_renegade_melee_colour_B = 60
		healthbar_renegade_melee_colour_G = 60
		healthbar_renegade_melee_colour_R = 150
		healthbar_renegade_netgunner_colour_B = 0
		healthbar_renegade_netgunner_colour_G = 255
		healthbar_renegade_netgunner_colour_R = 255
		healthbar_renegade_plasma_gunner_colour_B = 120
		healthbar_renegade_plasma_gunner_colour_G = 255
		healthbar_renegade_plasma_gunner_colour_R = 0
		healthbar_renegade_radio_operator_colour_B = 120
		healthbar_renegade_radio_operator_colour_G = 255
		healthbar_renegade_radio_operator_colour_R = 0
		healthbar_renegade_rifleman_colour_B = 60
		healthbar_renegade_rifleman_colour_G = 60
		healthbar_renegade_rifleman_colour_R = 150
		healthbar_renegade_shocktrooper_colour_B = 120
		healthbar_renegade_shocktrooper_colour_G = 255
		healthbar_renegade_shocktrooper_colour_R = 0
		healthbar_renegade_sniper_colour_B = 0
		healthbar_renegade_sniper_colour_G = 0
		healthbar_renegade_sniper_colour_R = 255
		healthbar_renegade_twin_captain_colour_B = 0
		healthbar_renegade_twin_captain_colour_G = 140
		healthbar_renegade_twin_captain_colour_R = 255
		healthbar_renegade_twin_captain_two_colour_B = 0
		healthbar_renegade_twin_captain_two_colour_G = 140
		healthbar_renegade_twin_captain_two_colour_R = 255
		healthbar_renegade_vanguard_colour_B = 255
		healthbar_renegade_vanguard_colour_G = 120
		healthbar_renegade_vanguard_colour_R = 0
		healthbar_renegade_vanguard_enable = true
		healthbar_segments_enable = false
		healthbar_select_colour_G = 75
		healthbar_select_colour_R = 150
		healthbar_select_enable = true
		healthbar_shield_colour_B = 200
		healthbar_shield_colour_G = 200
		healthbar_shield_colour_R = 200
		healthbar_sniper_colour_B = 0
		healthbar_sniper_colour_G = 0
		healthbar_sniper_colour_R = 255
		healthbar_special_colour_B = 255
		healthbar_special_colour_G = 0
		healthbar_special_colour_R = 255
		healthbar_specials_enable = true
		healthbar_type_always_show = false
		healthbar_type_colour_B = 200
		healthbar_type_colour_G = 200
		healthbar_type_colour_R = 200
		healthbar_type_enable = true
		healthbar_type_icon_enable = false
		healthbar_type_icon_scale = 1
		healthbar_type_y_offset = 0
		healthbar_type_y_offset_enabled = false
		healthbar_witch_colour_B = 180
		healthbar_witch_colour_G = 0
		healthbar_witch_colour_R = 255
		individual_overrides = "cultist_vanguard"
		main_font_colour_B = 255
		main_font_colour_G = 255
		main_font_colour_R = 255
		marker_bg_colour_A = 200
		marker_bg_colour_B = 200
		marker_bg_colour_G = 200
		marker_bg_colour_R = 200
		marker_display_option = "always_show"
		marker_size = 2.2
		marker_specials_enable = true
		marker_type_enable = false
		marker_visual_style = "diamond"
		marker_y_offset = 0
		markers_enable = false
		markers_health_enable = false
		markers_horde_enable = false
		markers_individual_toggle = false
		markers_non_horde_enable = false
		markers_show_only_aimed = false
		markers_show_only_damaged = false
		markers_show_only_undamaged = false
		mod_name_pizazz_toggle = true
		off_screen_throttle_rate = 120
		only_in_meatgrinder = false
		only_tagged_enemies = false
		outline_captain_colour_B = 0
		outline_captain_colour_G = 10
		outline_captain_colour_R = 50
		outline_captain_enable = false
		outline_chaos_armored_hound_colour_B = 0
		outline_chaos_armored_hound_colour_G = 10
		outline_chaos_armored_hound_colour_R = 50
		outline_chaos_armored_infected_colour_B = 0
		outline_chaos_armored_infected_colour_G = 10
		outline_chaos_armored_infected_colour_R = 50
		outline_chaos_beast_of_nurgle_colour_B = 0
		outline_chaos_beast_of_nurgle_colour_G = 10
		outline_chaos_beast_of_nurgle_colour_R = 50
		outline_chaos_daemonhost_colour_B = 0
		outline_chaos_daemonhost_colour_G = 10
		outline_chaos_daemonhost_colour_R = 50
		outline_chaos_hound_colour_B = 0
		outline_chaos_hound_colour_G = 10
		outline_chaos_hound_colour_R = 50
		outline_chaos_hound_mutator_colour_B = 0
		outline_chaos_hound_mutator_colour_G = 10
		outline_chaos_hound_mutator_colour_R = 50
		outline_chaos_lesser_mutated_poxwalker_colour_B = 0
		outline_chaos_lesser_mutated_poxwalker_colour_G = 10
		outline_chaos_lesser_mutated_poxwalker_colour_R = 50
		outline_chaos_mutated_poxwalker_colour_B = 0
		outline_chaos_mutated_poxwalker_colour_G = 10
		outline_chaos_mutated_poxwalker_colour_R = 50
		outline_chaos_mutator_daemonhost_colour_B = 0
		outline_chaos_mutator_daemonhost_colour_G = 10
		outline_chaos_mutator_daemonhost_colour_R = 50
		outline_chaos_mutator_ritualist_colour_B = 0
		outline_chaos_mutator_ritualist_colour_G = 10
		outline_chaos_mutator_ritualist_colour_R = 50
		outline_chaos_newly_infected_colour_B = 0
		outline_chaos_newly_infected_colour_G = 10
		outline_chaos_newly_infected_colour_R = 50
		outline_chaos_ogryn_bulwark_colour_B = 0
		outline_chaos_ogryn_bulwark_colour_G = 10
		outline_chaos_ogryn_bulwark_colour_R = 50
		outline_chaos_ogryn_executor_colour_B = 0
		outline_chaos_ogryn_executor_colour_G = 10
		outline_chaos_ogryn_executor_colour_R = 50
		outline_chaos_ogryn_gunner_colour_B = 0
		outline_chaos_ogryn_gunner_colour_G = 10
		outline_chaos_ogryn_gunner_colour_R = 50
		outline_chaos_ogryn_houndmaster_colour_B = 0
		outline_chaos_ogryn_houndmaster_colour_G = 10
		outline_chaos_ogryn_houndmaster_colour_R = 50
		outline_chaos_plague_ogryn_colour_B = 0
		outline_chaos_plague_ogryn_colour_G = 10
		outline_chaos_plague_ogryn_colour_R = 50
		outline_chaos_poxwalker_bomber_colour_B = 0
		outline_chaos_poxwalker_bomber_colour_G = 10
		outline_chaos_poxwalker_bomber_colour_R = 50
		outline_chaos_poxwalker_colour_B = 0
		outline_chaos_poxwalker_colour_G = 10
		outline_chaos_poxwalker_colour_R = 50
		outline_chaos_spawn_colour_B = 0
		outline_chaos_spawn_colour_G = 10
		outline_chaos_spawn_colour_R = 50
		outline_companion_colour_B = 60
		outline_companion_colour_G = 60
		outline_companion_colour_R = 255
		outline_companion_enable = true
		outline_cultist_assault_colour_B = 0
		outline_cultist_assault_colour_G = 10
		outline_cultist_assault_colour_R = 50
		outline_cultist_berzerker_colour_B = 0
		outline_cultist_berzerker_colour_G = 10
		outline_cultist_berzerker_colour_R = 50
		outline_cultist_captain_colour_B = 0
		outline_cultist_captain_colour_G = 10
		outline_cultist_captain_colour_R = 50
		outline_cultist_flamer_colour_B = 0
		outline_cultist_flamer_colour_G = 10
		outline_cultist_flamer_colour_R = 50
		outline_cultist_grenadier_colour_B = 0
		outline_cultist_grenadier_colour_G = 10
		outline_cultist_grenadier_colour_R = 50
		outline_cultist_gunner_colour_B = 0
		outline_cultist_gunner_colour_G = 10
		outline_cultist_gunner_colour_R = 50
		outline_cultist_melee_colour_B = 0
		outline_cultist_melee_colour_G = 10
		outline_cultist_melee_colour_R = 50
		outline_cultist_mutant_colour_B = 0
		outline_cultist_mutant_colour_G = 10
		outline_cultist_mutant_colour_R = 50
		outline_cultist_mutant_mutator_colour_B = 0
		outline_cultist_mutant_mutator_colour_G = 10
		outline_cultist_mutant_mutator_colour_R = 50
		outline_cultist_ritualist_colour_B = 0
		outline_cultist_ritualist_colour_G = 10
		outline_cultist_ritualist_colour_R = 50
		outline_cultist_shocktrooper_colour_B = 0
		outline_cultist_shocktrooper_colour_G = 10
		outline_cultist_shocktrooper_colour_R = 50
		outline_cultist_vanguard_colour_B = 0
		outline_cultist_vanguard_colour_G = 10
		outline_cultist_vanguard_colour_R = 50
		outline_disabler_colour_B = 0
		outline_disabler_colour_G = 10
		outline_disabler_colour_R = 50
		outline_disabler_enable = true
		outline_distance_individual_enable = false
		outline_distance_individual_value = 30
		outline_elite_colour_B = 0
		outline_elite_colour_G = 10
		outline_elite_colour_R = 50
		outline_elite_enable = false
		outline_enemy_colour_B = 0
		outline_enemy_colour_G = 10
		outline_enemy_colour_R = 50
		outline_enemy_enable = false
		outline_far_colour_B = 0
		outline_far_colour_G = 10
		outline_far_colour_R = 50
		outline_far_enable = false
		outline_horde_colour_B = 0
		outline_horde_colour_G = 10
		outline_horde_colour_R = 50
		outline_horde_enable = false
		outline_individual_colour_B = 0
		outline_individual_colour_G = 10
		outline_individual_colour_R = 50
		outline_individual_enable = false
		outline_monster_colour_B = 0
		outline_monster_colour_G = 10
		outline_monster_colour_R = 50
		outline_monster_enable = false
		outline_renegade_assault_colour_B = 0
		outline_renegade_assault_colour_G = 10
		outline_renegade_assault_colour_R = 50
		outline_renegade_berzerker_colour_B = 0
		outline_renegade_berzerker_colour_G = 10
		outline_renegade_berzerker_colour_R = 50
		outline_renegade_captain_colour_B = 0
		outline_renegade_captain_colour_G = 10
		outline_renegade_captain_colour_R = 50
		outline_renegade_executor_colour_B = 0
		outline_renegade_executor_colour_G = 10
		outline_renegade_executor_colour_R = 50
		outline_renegade_flamer_colour_B = 0
		outline_renegade_flamer_colour_G = 10
		outline_renegade_flamer_colour_R = 50
		outline_renegade_flamer_mutator_colour_B = 0
		outline_renegade_flamer_mutator_colour_G = 10
		outline_renegade_flamer_mutator_colour_R = 50
		outline_renegade_grenadier_colour_B = 0
		outline_renegade_grenadier_colour_G = 10
		outline_renegade_grenadier_colour_R = 50
		outline_renegade_gunner_colour_B = 0
		outline_renegade_gunner_colour_G = 10
		outline_renegade_gunner_colour_R = 50
		outline_renegade_melee_colour_B = 0
		outline_renegade_melee_colour_G = 10
		outline_renegade_melee_colour_R = 50
		outline_renegade_netgunner_colour_B = 0
		outline_renegade_netgunner_colour_G = 10
		outline_renegade_netgunner_colour_R = 50
		outline_renegade_plasma_gunner_colour_B = 0
		outline_renegade_plasma_gunner_colour_G = 10
		outline_renegade_plasma_gunner_colour_R = 50
		outline_renegade_radio_operator_colour_B = 0
		outline_renegade_radio_operator_colour_G = 10
		outline_renegade_radio_operator_colour_R = 50
		outline_renegade_rifleman_colour_B = 0
		outline_renegade_rifleman_colour_G = 10
		outline_renegade_rifleman_colour_R = 50
		outline_renegade_shocktrooper_colour_B = 0
		outline_renegade_shocktrooper_colour_G = 10
		outline_renegade_shocktrooper_colour_R = 50
		outline_renegade_sniper_colour_B = 0
		outline_renegade_sniper_colour_G = 10
		outline_renegade_sniper_colour_R = 50
		outline_renegade_twin_captain_colour_B = 0
		outline_renegade_twin_captain_colour_G = 10
		outline_renegade_twin_captain_colour_R = 50
		outline_renegade_twin_captain_two_colour_B = 0
		outline_renegade_twin_captain_two_colour_G = 10
		outline_renegade_twin_captain_two_colour_R = 50
		outline_renegade_vanguard_colour_B = 0
		outline_renegade_vanguard_colour_G = 10
		outline_renegade_vanguard_colour_R = 50
		outline_select_colour_B = 0
		outline_select_colour_G = 10
		outline_select_colour_R = 50
		outline_select_enable = true
		outline_shield_colour_B = 0
		outline_shield_colour_G = 10
		outline_shield_colour_R = 50
		outline_shield_enable = false
		outline_sniper_colour_B = 0
		outline_sniper_colour_G = 10
		outline_sniper_colour_R = 50
		outline_sniper_enable = true
		outline_special_colour_B = 0
		outline_special_colour_G = 10
		outline_special_colour_R = 50
		outline_special_enable = false
		outline_specials_colour_B = 0
		outline_specials_colour_G = 0
		outline_specials_colour_R = 255
		outline_specials_enable = true
		outline_stagger_colour_B = 150
		outline_stagger_colour_G = 110
		outline_stagger_colour_R = 0
		outline_stagger_enable = true
		outline_stagger_horde_enable = false
		outline_tagged_colour_B = 0
		outline_tagged_colour_G = 1
		outline_tagged_colour_R = 255
		outline_tagged_enable = true
		outline_tagged_passive_colour_B = 0
		outline_tagged_passive_colour_G = 191
		outline_tagged_passive_colour_R = 204
		outline_tagged_passive_enable = true
		outline_type_colour_B = 0
		outline_type_colour_G = 10
		outline_type_colour_R = 50
		outline_type_enable = false
		outline_veteran_tagged_colour_B = 100
		outline_veteran_tagged_colour_G = 255
		outline_veteran_tagged_colour_R = 255
		outline_veteran_tagged_enable = true
		outline_witch_colour_B = 0
		outline_witch_colour_G = 10
		outline_witch_colour_R = 50
		outline_witch_enable = true
		outlines_enable = true
		overhead_marker_uses_healthbar_colour = true
		readable_max_damage_numbers = 6
		reset_individual_to_default = false
		reset_shield_to_default = false
		reset_type_to_default = false
		secondary_font_colour_B = 150
		secondary_font_colour_G = 225
		secondary_font_colour_R = 255
		show_dn_in_range_only = false
		spatial_culling = true
		special_attack_pulse_speed = 0.2
		specials_flash = true
		split_debuff_types = true
		stagger_flash = true
		stagger_pulse_speed = 0.1
		text_scale = 1.15
		toughness_colour_B = 255
		toughness_colour_G = 225
		toughness_colour_R = 50
		toughness_electric = false
		toughness_enabled = true
		toughness_text_colour_enabled = true
		toughness_text_enabled = true
	}
}
