mods_settings = {
	FpsDoctor = {
		anchor = "top_left"
		auto_reset = false
		auto_reset_minutes = 20
		force_gc_key = [
		]
		gc_budget_us = 1000
		gc_mode = "balanced"
		gc_pause = 150
		gc_stepmul = 200
		hitch_ms = 50
		opacity_bg = 60
		opacity_text = 100
		overlay_scale = 100
		periodic_minutes = 10
		pos_x = 24
		pos_y = 24
		reset_stats_key = [
		]
		show_fps = false
		show_frame_ms = false
		show_gc_mode = true
		show_heap = true
		show_hitch = false
		show_low = false
		show_mission = true
		show_overlay = false
		silent = false
		smooth_collect = true
		threshold_mb = 1024
		toggle_overlay_key = [
			"f6"
		]
	}
}
