mods_settings = {
	i_wanna_see = {
		B = 255
		G = 0
		R = 0
		display_shield_health = true
		display_shield_radius = true
		remove_electro_effect = false
		remove_flamer_effect = true
		remove_purgatus_effect = true
		remove_shield_effect = true
		remove_shield_sound = false
		remove_smite_effect = false
	}
}
