mods_settings = {
	LessDoT = {
		bleed_elite = false
		bleed_horde = false
		bleed_monster = false
		bleed_special = false
		burn_elite = false
		burn_horde = false
		burn_monster = false
		burn_special = false
		lightning_elite = false
		lightning_horde = false
		lightning_monster = false
		lightning_special = false
	}
}
