mods_settings = {
	SMOG = {
		_smog_clean_shutdown = true
		_smog_last_heap_percent = 0
		auto_clean_every_ten_minutes = true
		auto_clean_on_start = true
		cleaning_permitted = true
		hud_x_axis = 5
		hud_y_axis = 65
		manual_clear_key = [
			"f5"
		]
		notification_y_axis = 85
		notifications = true
		show_hud_key = [
			"f8"
		]
	}
}
