mods_settings = {
	vfx_limiter = {
		box_grenade_ogryn_vfx = false
		fire_grenade_vfx = false
		frag_bomb_ogryn_vfx = false
		frag_grenade_vfx = false
		krak_grenade_vfx = false
		net_elecric_vfx = false
		replace_gas_vfx = "content/fx/particles/enemies/cultist_blight_grenadier/cultist_gas_grenade"
		replace_immolation_vfx = "content/fx/particles/weapons/grenades/fire_grenade/fire_grenade_player_lingering_fire"
		ritual_vfx = false
		rotten_vfx = false
		scum_rampage_screen = false
		scum_stimm_screen = false
		"scum_сhem_explode" = false
		stumm_grenade_vfx = false
		voidstrike_explosion_vfx = false
	}
}
